@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body {
    margin: 0px;
    padding: 0px;
    background-color: #3382FD;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 6rem;

}

.container {
    background-color: white;
    padding: 2rem;
    margin: 5rem;
    margin-top: 2rem;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
}


textarea {
    margin-top: 1rem;
    width: 48%;
    border: 1px solid grey;
    border-radius: 5px;
    resize: none;
    padding: 10px;
}

#translate-div {

    display: inline;

    /* background-color: green; */
}

#copy-div {
    /* display: inline; */
    float: right;
    /* width: 25%; */
    /* background-color: red; */
}

button {
    background-color: #3382FD;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.btn-div {
    margin: 1rem;
}



.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* audio {

    width:  50px;
    display:  ;
} */